@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    padding-inline: 24px 13px;
    margin-top: 26px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-links {
    display: none;
}

header nav .header-sign-in {
    display: none;
}

section.welcome {
    margin-top: 80px;
    padding-inline: 24px 49px;
}

.welcome-main h1 {
    font-size: 39.06px;
    font-family: poppins;
    font-weight: 500;
    line-height: 118%;
    color: #000000;
}

.welcome-main p {
    font-family: inter;
    font-weight: 300;
    color: #000000;
    line-height: 142.8%;
    letter-spacing: 4%;
    margin-block: 15px;
    font-size: 13.38px;
}

.welcome-main .welcome-btn a {
    font-family: inter;
    font-size: 19.08px;
    color: #000000;
    padding-block: 12.11px;
    padding-inline: 37.56px;
    background: linear-gradient(to right, rgba(221, 211, 239, .55) 0%, #FDD9FF 35%, #B2E0FE 100%);
    border-radius: 4.85px;
    display: block;
    width: 137.11px;
}

.welcome-main .welcome-btn .wd-btn {
    display: none;
}

section.welcome .welcome-desktop {
    display: none;
}

.cards-section {
    margin-top: 75.77px;
    margin-bottom: 40.42px;
}

.cards-section .cards-header {
    background-color: #000000;
    padding-block: 24px 123px;
    padding-inline: 16px;
}

.cards-section .cards-header .ch-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    row-gap: 33px;
}

.cards-section .regular-cards {
    background-color: #ffffff;
    width: 259.27px;
    margin: auto;
    border-radius: 19.44px;
    margin-top: -102px;
    margin-bottom: 105px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.118);
}

.regular-cards img {
    padding-top: 19.44px;
    padding-inline: 16.2px;
}

.regular-cards .rate img {
    margin-top: -15px;
}

.regular-cards .names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding-inline: 16.2px 27.22px;
}

.regular-cards .names .dr {
    font-family: roboto;
    color: #42445D;
    font-weight: 500;
    font-size: 11.67px;
}

.regular-cards .names .green-circle {
    background-color: #6bd17b;
    width: 10.37px;
    height: 10.37px;
    border-radius: 100% ;
    border: none;
}

.regular-cards .names .names-right {
    width: 60.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regular-cards .names .names-right p {
    font-family: poppins;
    font-weight: 400;
    font-size: 9.15px;
}

.regular-cards .cards-text {
    color: #42445D;
    font-size: 9.07px;
    font-family: roboto;
    line-height: 13.6px;
    margin-top: 6px;
    padding-inline: 16.2px 27.22px;
}

.regular-cards .reg-cards-book {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16.2px;
    margin-top: 6.48px;
    padding-bottom: 22.69px;
}

.regular-cards .reg-cards-book .border-wrap {
    background: linear-gradient(to right, rgba(221, 211, 239, .55) 0%, #FDD9FF 35%, #B2E0FE 100%);
    padding: 1px;
    border-radius: 2.98px;
}

.regular-cards .reg-cards-book p {
    font-size: 11.74px;
    font-family: inter;
    background-color: #ffffff;
    padding-block: 7.58px;
    padding-inline: 4.67px;
}

.regular-cards .reg-cards-book a {
    margin-top: -15px;
}

.cards-section .cards-foot {
    width: 162.05px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: -90px;
}

.cards-section .cards-foot p {
    font-family: inter;
    font-size: 13.32px;
}

.subscribe {
    background: url(../img/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 79.72px;
}

.subscribe p {
    font-size: 13.35px;
    font-family: poppins;
    font-weight: 500;
    padding-top: 24.86px;
    text-align: center;
    margin-bottom: 3.57pxpx;
}

.subscribe div {
    width: 218.59px;
    margin: auto;
}

.subscribe div input[type=email] {
    width: 159.53px;
    height: 14.3px;
    font-size: 5.54px;
    color: #606060;
    font-family: poppins;
    font-weight: 300;
    padding-block: 3.07px;
    padding-inline: 5.22px;
    border: 0.43px solid #0000004d;
    border-radius: 1.74px;
}

.subscribe div input[type=email]::placeholder {
    font-size: 5.54px;
}

.subscribe div input[type=email]::placeholder {
    font-size: 5.54px;
    color: #606060;
    font-family: poppins;
    font-weight: 300;
}

.subscribe div input[type=submit] {
    background-color: #000000;
    color: #ffffff;
    font-size: 7px;
    font-family: inter;
    border-radius: 2px;
    padding-block: 4.26px;
    padding-inline: 13.71px;
    border: none;
}

footer {
    padding-inline: 24px 30.79px;
    margin-top: 23.33px;
}

footer .footer-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19.46px;
}

footer .footer-nav img {
    height: 21.05px;
}

footer .footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 186.43px;
}

footer .footer-nav ul li a {
    font-size: 7.41px;
    font-family: inter;
    color: #000000;
}

footer .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.34px;
    text-align: center;
}

footer .footer-main p {
    font-size: 7.73px;
    font-family: inter;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 57%);
}

.container {
    width: 100%;
}










/*! Tablet !*/
@media only screen and (min-width: 815px) {

    .container {
        max-width: 1439px;
        margin: auto;
    }

    header {
        padding-inline: 60px 0px;
        margin-top: 38px;
    }
    
    header nav .nav-links {
        display: block;
        width: 398px;
    }

    header nav .nav-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav .nav-links ul li a {
        font-size: 15.75px;
        font-family: inter;
        color: #000000;
    }
    
    header nav .header-sign-in {
        display: block;
        font-size: 15.75px;
        font-family: inter;
        color: #000000;
        background: linear-gradient(to right, rgba(221, 211, 239, .55) 0%, #FDD9FF 35%, #B2E0FE 100%);
        padding-block: 10px;
        padding-inline: 31px;
        border: none;
        border-radius: 4px;
    }

    header nav .hamburger {
        display: none;
    }
    
    section.welcome {
        margin-top: 104.28px;
        padding-inline: 67px 60px;
    }
    
    .welcome-main h1 {
        font-size: 58.06px;
    }
    
    .welcome-main p {
        font-size: 19.38px;
        margin-block: 15px;
        font-size: 19.38px;
    }
    
    .welcome-main .welcome-btn a {
        font-size: 19.08px;
        padding-block: 12.11px;
        padding-inline: 37.56px;
        width: 137.11px;
    }
    
    .cards-section {
        margin-top: 104.27px;
        margin-bottom: 40.42px;
    }

    .cards-section .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 805px;
    }
    
    .cards-section .cards-header {
        padding-block: 81.68px 176.03px;
        padding-inline: 20.89px 44.15px;
    }
    
    .cards-section .cards-header .ch-inner {
        flex-direction: row;
    }
    
    .cards-section .regular-cards {
        border-radius: 19.44px;
        margin-bottom: 140px;
        margin-top: -120px;
    }
    
    .regular-cards .doc-img {
        padding-top: 17.50px;
        min-width: 226.86px;
        border-radius: 7px;
        display: block;
    }
    
    .regular-cards .rate img {
        margin-top: 9.1px;
        padding-left: 17.50px;
    }
    
    .regular-cards .names {
        padding-inline: 17.50px;
        margin-top: 6px;
    }
    
    .regular-cards .names .dr {
        font-size: 12.59px;
    }
    
    .regular-cards .names .green-circle {
        width: 11.19px;
        height: 11.19px;
    }
    
    .regular-cards .names .names-right {
        width: 60.8px;
    }
    
    .regular-cards .names .names-right p {
        font-size: 9.87px;
    }
    
    .regular-cards .cards-text {
        font-size: 9.79px;
        line-height: 14.7px;
        margin-top: 4px;
        padding-inline: 17.50px;
    }
    
    .regular-cards .reg-cards-book {
        padding-left: 17.50px;
        margin-top: 6.07px;
        padding-bottom: 22.74px;
    }
    
    .regular-cards .reg-cards-book .border-wrap {
        border-radius: 2.98px;
    }
    
    .regular-cards .reg-cards-book p {
        font-size: 12.67px;
        padding-block: 8.24px;
        padding-inline: 5.26px;
    }
    
    .regular-cards .reg-cards-book a img {
        margin-left: 9.79px;
    }
    
    .cards-section .cards-foot {
        width: 220.29px;
    }
    
    .cards-section .cards-foot img {
        width: 30.24px;
    }
    
    .cards-section .cards-foot p {
        font-size: 18.11px;
    }
    
    .subscribe {
        height: 178px;
    }
    
    .subscribe p {
        font-size: 32.75px;
        padding-top: 39.27px;
        margin-bottom: 6.37px;
    }
    
    .subscribe div {
        width: 502.78px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .subscribe div input[type=email] {
        width: 366.93px;
        height: 32.9px;
        font-size: 12.75px;
        padding-block: 7px;
        padding-inline: 12px;
        border-radius: 4px;
    }

    .subscribe div input[type=email]::placeholder {
        font-size: 12.75px;
    }
    
    .subscribe div input[type=submit] {
        font-size: 16.11px;
        border-radius: 4.6px;
        padding-block: 9.5px;
        padding-inline: 32.14px;
    }
    
    footer {
        padding-inline: 60px 25px;
        margin-top: 46.22px;
    }
    
    footer .footer-nav {
        margin-bottom: 46.22px;
    }
    
    footer .footer-nav img {
        height: 44.72px;
    }
    
    footer .footer-nav ul {
        width: 396.04px;
        margin-right: 85.96px;
    }
    
    footer .footer-nav ul li a {
        font-size: 15.75px;
    }
    
    footer .footer-main {
        margin-bottom: 57px;
    }

    footer .footer-main .social img {
        height: 29.06px;
    }
    
    footer .footer-main p {
        font-size: 15.75px;
        padding-right: 40px;
    }
}










/*! Desktop !*/
@media only screen and (min-width: 1440px) {

    .container {
        max-width: 99999px;
        width: 100%;
    }

    header {
        padding-inline: 142px 130px;
        margin-top: 27px;
    }
    
    section.welcome {
        margin-top: 58.16px;
        padding-inline: 140px 92.17px;
    }

    .welcome .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .welcome-main {
        width: 618.9px;
        margin-top: 94.2px;
    }
    
    .welcome-main h1 {
        font-size: 55.1px;
    }
    
    .welcome-main p {
        font-size: 18.4px;
        margin-top: 21.8px;
        font-size: 19.38px;
        max-width: 558.02px;
    }

    .welcome-main .welcome-btn {
        width: 298.93px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 67.21px;
    }

    .wbt-border {
        background: linear-gradient(to right, rgba(221, 211, 239, .55) 0%, #FDD9FF 35%, #B2E0FE 100%);
        padding: 1.15px;
        border-radius: 4.6px;
    }

    .welcome-main .welcome-btn .wd-btn {
        display: block;
        padding-block: 11.42px;
        padding-inline: 16.49px;
        background: #ffffff;
    }

    section.welcome .welcome-desktop {
        display: block;
        margin-bottom: -27px;
    }

    section.welcome .welcome-desktop img {
        width: 680px;
    }
    
    .cards-section {
        margin-top: 131.11px;
        margin-bottom: 40.42px;
    }
    
    .cards-section .cards-header {
        padding-block: 30.93px 193.52px;
        padding-inline: 94.5px 94.5px;
    }
    
    .cards-section .cards-header .ch-inner {
        height: 110.9px;
    }

    .cards-section .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 1140px;
    }
    
    .cards-section .regular-cards {
        border-radius: 30px;
        margin-bottom: 140px;
        margin-top: -180px;
        width: 370px;
    }
    
    .regular-cards .doc-img {
        padding-top: 30px;
        width: 350px;
        border-radius: 10px;
        margin: auto;
    }
    
    .regular-cards .rate img {
        margin-top: 13px;
        padding-left: 25px;
    }
    
    .regular-cards .names {
        padding-inline: 25px;
        margin-top: 10px;
    }
    
    .regular-cards .names .dr {
        font-size: 18px;
    }
    
    .regular-cards .names .green-circle {
        width: 16px;
        height: 16px;
    }
    
    .regular-cards .names .names-right {
        width: 93px;
    }
    
    .regular-cards .names .names-right p {
        font-size: 14.11px;
    }
    
    .regular-cards .cards-text {
        font-size: 14px;
        line-height: 21px;
        margin-top: 6px;
        padding-inline: 25px;
    }
    
    .regular-cards .reg-cards-book {
        padding-left: 25px;
        margin-top: 10px;
        padding-bottom: 30px;
    }
    
    .regular-cards .reg-cards-book p {
        font-size: 18.11px;
        padding-block: 11.5px;
        padding-inline: 7.5px;
    }
    
    .regular-cards .reg-cards-book a img {
        margin-left: 14px;
        width: 90px;
    }
    
    .subscribe {
        height: 268px;
        margin-top: -40px;
    }
    
    .subscribe p {
        font-size: 36.75px;
        font-weight: 600;
        margin-bottom: 10px;
        padding-top: 79px;
    }
    
    .subscribe div {
        width: 576px;
    }
    
    .subscribe div input[type=email] {
        width: 438.38px;
        height: 47.9px;
        font-size: 17.75px;
        padding-block: 10px;
        padding-inline: 30.8px;
    }

    .subscribe div input[type=email]::placeholder {
        font-size: 17.75px;
    }
    
    .subscribe div input[type=submit] {
        font-size: 16.11px;
        padding-block: 11.5px;
        padding-inline: 35.64px;
    }
    
    footer {
        padding-inline: 143px 140px;
        margin-top: 30.5px;
    }
    
    footer .footer-nav {
        margin-bottom: 52px;
    }
    
    footer .footer-main {
        margin-bottom: 51px;
    }

    footer .footer-main .social img {
        height: 39px;
    }
    
    footer .footer-main p {
        letter-spacing: 0.5px;
    }
}